layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }
  tab name="agent-teams" {
  pane split_direction="vertical" {
    pane {
      name "chief"
      command "multiagent"
      args "pane" "../multiagent_worktrees/team-member/chief" "team-member/chief" "--instruction" "Read ~/.config/multiagent-squad/instruction_leader.md and understand your role."
      size "30%"
    }
    pane split_direction="horizontal" {
      pane {
        name "member-braze"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/member-braze" "team-member/member-braze" "--instruction" "Read ~/.config/multiagent-squad/instruction_member.md and understand your role. You are Member-Braze."
      }
      pane {
        name "member-storm"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/member-storm" "team-member/member-storm" "--instruction" "Read ~/.config/multiagent-squad/instruction_member.md and understand your role. You are Member-Storm."
      }
      pane {
        name "member-frost"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/member-frost" "team-member/member-frost" "--instruction" "Read ~/.config/multiagent-squad/instruction_member.md and understand your role. You are Member-Frost."
      }
    }
    pane split_direction="horizontal" {
      pane {
        name "braze-handler"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/member-braze" "team-member/member-braze" "--agent" "gemini" "--instruction" "Read ~/.config/multiagent-squad/instruction_handler.md with `cat` command and understand your role. You are Braze-Handler, supporting Member-Braze."
      }
      pane {
        name "storm-handler"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/member-storm" "team-member/member-storm" "--agent" "gemini" "--instruction" "Read ~/.config/multiagent-squad/instruction_handler.md with `cat` command and understand your role. You are Storm-Handler, supporting Member-Storm."
      }
      pane {
        name "frost-handler"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/member-frost" "team-member/member-frost" "--agent" "gemini" "--instruction" "Read ~/.config/multiagent-squad/instruction_handler.md with `cat` command and understand your role. You are Frost-Handler, supporting Member-Frost."
      }
    }
  }
  }
  tab split_direction="vertical" name="review" {
    pane name="review" {
      cwd "../multiagent_worktrees/review"
    }
    pane {
      name "review claude"
      command "multiagent"
      args "pane" "../multiagent_worktrees/review" "review" "--claude-without-instruction"
    }
  }
}
