layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }
  tab name="agent-teams" {
  pane split_direction="vertical" {
    pane {
      name "sei"
      command "multiagent"
      args "pane" "team-member/sei" "--instruction" "~/.config/teams/instruction_leader.md"
      size "30%"
    }
    pane split_direction="horizontal" {
      pane {
        name "shin"
        command "multiagent"
        args "pane" "team-member/shin" "--instruction" "Read ~/.config/teams/instruction_member.md and understand your role."
      }
      pane {
        name "ouhon"
        command "multiagent"
        args "pane" "team-member/ouhon" "--instruction" "Read ~/.config/teams/instruction_member.md and understand your role."
      }
      pane {
        name "mouten"
        command "multiagent"
        args "pane" "team-member/mouten" "--instruction" "Read ~/.config/teams/instruction_member.md and understand your role."
      }
    }
  }
  }
  tab split_direction="vertical" name="review" {
    pane name="review" {
      command "multiagent"
      args "pane" "review"
    }
    pane {
      name "review claude"
      command "multiagent"
      args "pane" "review" "--claude-without-instruction"
    }
  }
}
