layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }
  tab name="agent-teams" {
  pane split_direction="vertical" {
    pane {
      name "hq"
      command "multiagent"
      args "pane" "../multiagent_worktrees/team-member/hq" "team-member/hq" "--instruction" "Read ~/.config/teams/instruction_leader.md and understand your role."
      size "30%"
    }
    pane split_direction="horizontal" {
      pane {
        name "alpha"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/alpha" "team-member/alpha" "--instruction" "Read ~/.config/teams/instruction_member.md and understand your role. You are Alpha."
      }
      pane {
        name "bravo"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/bravo" "team-member/bravo" "--instruction" "Read ~/.config/teams/instruction_member.md and understand your role. You are Bravo."
      }
      pane {
        name "charlie"
        command "multiagent"
        args "pane" "../multiagent_worktrees/team-member/charlie" "team-member/charlie" "--instruction" "Read ~/.config/teams/instruction_member.md and understand your role. You are Charlie."
      }
    }
  }
  }
  tab split_direction="vertical" name="review" {
    pane name="review" {
      cwd "../multiagent_worktrees/review"
    }
    pane {
      name "review claude"
      command "multiagent"
      args "pane" "../multiagent_worktrees/review" "review" "--claude-without-instruction"
    }
  }
}
